.MobileHTML {
  width: 700px;
  /*min-width: 85vh;
  max-width: 95vh;*/
  margin: auto;
  min-height: 80vh;
  max-height: 95vh;
}

.MobileUI {
  width: 700px;
  /*min-width: 85vh;
  max-width: 95vh;*/
  margin: auto;
  min-height: 80vh;
  max-height: 95vh;
}

.BoilerDiv {
  width: 500px; /* set a fixed size to mimic mobile screen */
  margin: auto; /* align to cneter */
  text-align: center;
  padding: 15px;
  background-color: aqua;
}

.BoilerUI {
  width: 500px; /* set a fixed size to mimic mobile screen */
  margin: auto; /* align to cneter */
  text-align: center;
  padding: 15px;
  background-color: aqua;
}

.BoilerDiv-Fill {
  background-color:white;
  border: 2px solid black;
  min-height: 80vh;
  max-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.BoilerUI-Fill {
  background-color:white;
  border: 2px solid black;
  min-height: 80vh;
  max-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}


.HeaderDiv {
  background-color: blue;
  border: 2px solid black;
  min-height: 40px;
  max-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  font-size: 14px;
  color: black;
}

.HeaderUI {
  background-color: green;
  border: 2px solid black;
  min-height: 40px;
  max-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  font-size: 14px;
  color: black;
}

.BottomDiv {
  background-color: green;
  border: 2px solid black;
  min-height: 40px;
  max-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  font-size: 14px;
  color: black;
}

.BottomUI {
  background-color: blue;
  border: 2px solid black;
  min-height: 40px;
  max-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  font-size: 14px;
  color: black;
}

.CustomAdmin {
  background-color: grey;
  border: 2px solid black;
  min-height: 40px;
  max-height: 40px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  font-size: 14px;
  color: black;
}


.cardHTML {
  display: flex;
  background-color: lightgray;
  /* border: 2px solid black;*/
  border-radius: 12px;
  height: 260px;
  width: 380px;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  font-size: 14px;
  color: black;
}

.cardImg {
  display: block;
  /*background-color: lightgray;*/
   border: 2px solid black;
  /*border-radius: 10%;*/
  min-height: 30%;
  max-height: 40%;
  width: 95%;
  /* flex-direction: row;*/
  /*gap: 20px;
  align-items: center;
  justify-content: center;*/
  /*font-size: calc(10px + 2vmin);*/
  font-size: 14px;
  color: black;
}

.cardTxt {
  display: block;
  /*background-color: lightgray;*/
   border: 2px solid black;
  /*border-radius: 10%;*/
  min-height: 30%;
  max-height: 40%;
  width: 95%;
  /* flex-direction: row;*/
  /*gap: 20px;
  align-items: center;
  justify-content: center;*/
  /*font-size: calc(10px + 2vmin);*/
  font-size: 14px;
  color: black;
}

.cardBtn {
  display: block;
  /*background-color: lightgray;*/
   border: 2px solid black;
  /*border-radius: 10%;*/
  min-height: 20%;
  max-height: 20%;
  width: 95%;
  /* flex-direction: row;*/
  /*gap: 20px;
  align-items: center;
  justify-content: center;*/
  /*font-size: calc(10px + 2vmin);*/
  font-size: 14px;
  color: black;
}


.BtnTmp {
  min-height: 40px;
  max-height: 40px;
  margin: auto;
  /*font-size: calc(10px + 2vmin);*/
  font-size: 14px;
  color: black;
}